AppForWork/AppForWork2+SERViCE +GOOD MODEL/AppForWork2/Service References/ServiceReference2/IISHost.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cars.Vehicles.AddOns" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cars.Vehicles.AddOns" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAddOn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddOn" nillable="true" type="tns:AddOn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddOn" nillable="true" type="tns:ArrayOfAddOn" />
  <xs:complexType name="AddOn">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NeedsRepare" type="xs:boolean" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddOn" nillable="true" type="tns:AddOn" />
</xs:schema>