AppForWork/AppForWork2+SERViCE +GOOD MODEL/AppForWork2/Service References/ServiceReference2/IISHost4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cars.Vehicles" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cars.Vehicles" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:32832/IISHost.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Cars.Vehicles.AddOns" />
  <xs:import schemaLocation="http://localhost:32832/IISHost.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Cars.Vehicles.Parts" />
  <xs:complexType name="Vehicle">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Cars.Vehicles.AddOns" minOccurs="0" name="AddOnsCollection" nillable="true" type="q1:ArrayOfAddOn" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:EVehicleType" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Cars.Vehicles.Parts" minOccurs="0" name="VehiclePartsList" nillable="true" type="q2:ArrayOfPart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vehicle" nillable="true" type="tns:Vehicle" />
  <xs:simpleType name="EVehicleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Car" />
      <xs:enumeration value="Bus" />
      <xs:enumeration value="Truck" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EVehicleType" nillable="true" type="tns:EVehicleType" />
  <xs:complexType name="Truck">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Vehicle">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Truck" nillable="true" type="tns:Truck" />
  <xs:complexType name="Bus">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Vehicle">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Bus" nillable="true" type="tns:Bus" />
  <xs:complexType name="Car">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Vehicle">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Car" nillable="true" type="tns:Car" />
  <xs:complexType name="ArrayOfVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vehicle" nillable="true" type="tns:Vehicle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehicle" nillable="true" type="tns:ArrayOfVehicle" />
</xs:schema>